.base-div {
    height: 70vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
}

.exit-div {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
}

.title-div {
    width: 100%;
    text-align: center;
}

.img-div {
    justify-content: center;
    height: 80%;
    width: auto;
}

.popup-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.btn.btn-danger {
    border-radius: 0px;
}