p {
    text-align: center;
}

section {
    width: 100%;
    margin-bottom: 100px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    width: 250px;
    font-size: 20px; 
    color: black;    
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}

.coffees-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /*border: 2px solid #dddddd;*/
    border-radius: 20px;
}

.coffee {
    height: 500px;
    width: 350px;

    display: flex;
    flex-direction: column;

    align-items: center;

    border: 2px solid #dddddd; 
    border-radius: 20px;

    margin: 10px;    
}

.badge-side {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.stock-badge {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px; 
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    padding: 5px;
}

.discount-badge {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px; 

    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: green;
    padding: 5px;
}

.image-side {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coffee-image {
    width: 90%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.coffee-name {  
    font-size: 20px;
    font-weight: bold;
    color: white;  
    width: 90%;
    height: 20%; /* Yüksekliği ayarlayın */
    text-align: center;
    margin: 0 auto;
    position: absolute; /* Mutlak pozisyon */
    bottom: 0; /* Alt kısma yerleştir */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}

.info-side {
    height: auto;
    width: 100%;
}

.coffee-price {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.coffee-newPrice {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}


