.navbar-light {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 5vh;
    background-color: white !important;
}


.logo {
    width: 100px;
    height: 100px;
}

.cafe-name {
    width: 100%;
    color: black !important;
    font-size: 18px;
    transition: font-size 0.5s ease; /* Geçiş efekti */
    padding: 8px;
    font-size: 22px;
}

.nav-link {
    color: black !important;
    font-size: 18px; /* Normal boyut */
    transition: font-size 0.5s ease; /* Geçiş efekti */
}

.nav-link:hover {
    font-size: 22px; /* Hover olduğunda büyük boyuta geçiş */
}

.nav-link:not(:hover) {
    font-size: 18px; /* Hover kaybolduğunda normal boyuta dönme */
}

.nav-link.active {
    color: black !important;
    font-size: 22px; /* Hover olduğunda büyük boyuta geçiş */
}

a {
    display: flex;
    align-items: center;
}
