p {
    text-align: center;
}

section {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    width: 250px;
    font-size: 20px; 
    color: black;    
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}

.catogires-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    /*border: 2px solid #dddddd;*/
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.category {
    height: 346px;
    width: 346px;

    display: flex;
    flex-direction: column;

    align-items: center;

    border: 2px solid #dddddd; 
    border-radius: 20px;

    margin: 10px;
    cursor: pointer;
    position: relative;

}

.image-side {
    height: 100%;
    width: auto;
    justify-content: center; /* Yatay hizalama */
    align-items: center;    /* Dikey hizalama */
}

.category-image {
    height: 100%;
    width: auto;
    border-radius: 20px;
    object-fit: cover;
}

.info-side {
    position: absolute; /* Mutlak pozisyon */
    bottom: 0; /* Alt kısma yerleştir */
    height: 20%; /* Yüksekliği ayarlayın */
    width: 100%; /* Genişliği tam yapın */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Opsiyonel: Arka plan rengi ve opaklık */
    border-bottom-left-radius: 20px; /* Köşe yuvarlama */
    border-bottom-right-radius: 20px; /* Köşe yuvarlama */
}

.category-name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
}
