body {
    font-family: 'Poppins' !important;
    font-size: 18px !important;
    width: 75% !important;
    margin: 0 auto !important;
}

@media (max-width: 768px) {
  body {
    width: 100% !important;
    margin: 0 !important;
  }
}